<!DOCTYPE html>
<html ng-app="monarchApp" lang="en">

<head>
  <style>
    /* Loading Spinner */
    .spinner{margin:0;width:70px;height:18px;margin:-35px 0 0 -9px;position:absolute;top:50%;left:50%;text-align:center}.spinner > div{width:18px;height:18px;background-color:#333;border-radius:100%;display:inline-block;-webkit-animation:bouncedelay 1.4s infinite ease-in-out;animation:bouncedelay 1.4s infinite ease-in-out;-webkit-animation-fill-mode:both;animation-fill-mode:both}.spinner .bounce1{-webkit-animation-delay:-.32s;animation-delay:-.32s}.spinner .bounce2{-webkit-animation-delay:-.16s;animation-delay:-.16s}@-webkit-keyframes bouncedelay{0%,80%,100%{-webkit-transform:scale(0.0)}40%{-webkit-transform:scale(1.0)}}@keyframes bouncedelay{0%,80%,100%{transform:scale(0.0);-webkit-transform:scale(0.0)}40%{transform:scale(1.0);-webkit-transform:scale(1.0)}}
</style>
  <meta charset="UTF-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <!-- <title> Monarch UI - Bootstrap Frontend &amp; Admin Template </title> -->
  <title> Alumni </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <!-- Favicons -->

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/images/icons/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/images/icons/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/images/icons/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="assets/images/icons/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="assets/images/icons/favicon.png">

  <link href="bower_components/AngularJS-Toaster/toaster.min.css" rel="stylesheet" />
  <!-- <link rel="stylesheet" type="text/css" href="assets-minified/admin-all-demo.css"> -->
  <link rel="stylesheet" type="text/css" href="assets-minified/frontend-all-demo.css">

  <!-- JS Core -->
  <script type="text/javascript" src="assets-minified/js-core.js"></script>

  <!-- <script src="assets/angular/angular.min.js"></script> -->
  <script src="assets/angular/angular-1.6.min.js"></script>
  <script src="assets/angular/angular-1.6-route.js"></script>
  <script src="assets/angular/angular-animate-1.6.min.js"></script>

  <script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.js"></script>

  <!-- <link rel="stylesheet" type="text/css" href="assets/angular/page-animations.css"> -->

  <script type="text/javascript">
    $(window).load(function () {
      setTimeout(function () {
        $('#loading').fadeOut(400, "linear");
      }, 300);
    });
  </script>

</head>

<body>
  <div id="loading">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>

  <div id="page-wrapper">
    <!-- .top-bar -->
    <div class="main-header wow fadeInDown" style="height: 90%; background: rgba(212,228,239,1);
    background: -moz-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(121,145,176,1) 70%, rgba(121,145,176,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(121,145,176,1) 70%), color-stop(37%, rgba(121,145,176,1)), color-stop(100%, rgba(105,96,104,1)));
    background: -webkit-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(121,145,176,1) 70%, rgba(121,145,176,1) 100%);
    background: -o-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(121,145,176,1) 70%, rgba(121,145,176,1) 100%);
    background: -ms-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(121,145,176,1) 70%, rgba(121,145,176,1) 100%);
    background: linear-gradient(to right, rgba(212,228,239,1) 0%, rgba(121,145,176,1) 70%, rgba(121,145,176,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#256b9e', GradientType=1 );">
    <!-- <div class="main-header wow fadeInDown" style="background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);background:-moz-linear-gradient(-65deg,#008fe2 0,#00b29c 100%);background:-webkit-gradient(linear,left top,right bottom,color-stop(0%,#008fe2),color-stop(100%,#00b29c));background:-webkit-linear-gradient(-65deg,#008fe2 0,#00b29c 100%);background:-o-linear-gradient(-65deg,#008fe2 0,#00b29c 100%);background:-ms-linear-gradient(-65deg,#008fe2 0,#00b29c 100%);background:linear-gradient(154deg,#008fe2 0,#00b29c 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#008fe2', endColorstr='#00b29c', GradientType=1);"> -->
    <!-- <div class="main-header wow fadeInDown" style="background: #a5b6c9"> -->
      <div class="" style="margin-right: 5px;">
        <!-- .header-logo -->
        <a href="http://www.mekonginstitute.org/" title="MEKONG INSTITUTE">
          <img src="image-resources/logo-alumni.png" alt="" class="logo-header" style="margin-left: 0;max-width: 30%;max-height: 100%;">
        </a>
        
        <div class="right-header-btn">
          <div id="mobile-navigation">
            <button id="nav-toggle" class="collapsed" data-toggle="collapse" data-target=".header-nav">
              <span></span>
            </button>
          </div>
          <div class="search-btn">
            <a href="#" class="popover-button" title="Search" data-placement="bottom" data-id="#popover-search">
              <i class="glyph-icon icon-search" style="color:#ffffff;"></i>
            </a>
            <div class="hide" id="popover-search">
              <div class="pad5A box-md">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search terms here ...">
                  <span class="input-group-btn">
                    <a class="btn btn-primary" href="#">Search</a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- .header-nav -->
        <ul class="header-nav">
          <li>
            <a href="#/" title="Home">
              <span class="header">Home</span>
            </a>
          </li>
          <li>
            <a href="http://www.mekonginstitute.org/resources/databases/" target="_blank" title="Database">
              <span class="header">Database</span>
            </a>
          </li>

          <li>
            <a href="#/help" title="Help" target="_blank">
            <!-- <a href="help_screen.html" title="Contact"> -->
              <span class="header">Help</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- .container -->
    </div>
    <!-- .main-header -->

    <div class="example-box-wrapper">
      <div class="row" ng-controller="dashboardController">
        <div class="col-sm-8" style="padding-right: 0px;">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="12000">
            <!-- <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol> -->
            <div class="carousel-inner" ng-init="getImagesSlide()">
              <div class="item" ng-class="{active:!$index}" ng-repeat="value in imagesSlide">
                <img ng-src="{{ value.fileName_url }}" style="height: 210px;">
              </div>
              <!-- <div class="item active">
                <img src="image-resources/slide/28309679_10204479306660877_596164592_o.jpg" alt="First slide" style="height: 210px;">
              </div>
              <div class="item">
                <img src="image-resources/slide/slide_2.jpg" alt="Second slide" style="height: 210px;">
              </div>
              <div class="item">
                <img src="image-resources/slide/slide_3.jpg" alt="Third slide" style="height: 210px;">
                <img src="image-resources/slide/27787195_10204420205983397_1427063956_o.jpg" alt="Third slide" style="height: 210px;">
              </div> -->
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" target="_self" role="button" data-slide="prev">
              <span class="glyph-icon icon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" target="_self"  role="button" data-slide="next">
              <span class="glyph-icon icon-chevron-right"></span>
            </a>
          </div>
        </div>
        <div class="col-sm-4" style="padding-left: 0px;">
          <div class="panel" style="height: 210px;">
            <div class="panel-body">
              <!-- <h3 class="title-hero">
                MEKONG ALUMNI STATISTICS
              </h3> -->
              <div class="row">
                <div class="col-sm-12">
                  <div class="row" ng-init="country_summary_by_country_id()">
                    <div class="col-sm-6" ng-repeat="value in countrys_count_by_country_id">
                      <div class="col-sm-5"><img ng-src="{{ value.image_url }}" alt="" height="30px;" width="50px;"></div>
                      <div class="col-sm-7">
                        <div class="row" style="margin-top: -3px;">
                          <div class="col-sm-12" style="font-size: 20px;">{{ value.participants_count | number }}</div>
                        </div>
                        <div class="row" style="margin-top: -2px;">
                          <div class="col-sm-12" style="font-size: 9px;">{{ value.caption }}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12" style="font-weight: bolder;margin-top: 10px;">
                  <div class="row" style="font-size: 20px;">
                    <div class="col-sm-6 text-center">
                      <div class="row" style="margin-top: -3px;">
                        <div class="col-sm-12" style="font-size: 20px;">{{ countAlumni - sum_person | number }}</div>
                      </div>
                      <div class="row" style="margin-top: -2px;">
                        <div class="col-sm-12" style="font-size: 9px;">Other</div>
                      </div>
                    </div>
                    <div class="col-sm-6 text-center" ng-init="countAlumni()">
                      <div class="row" style="margin-top: -3px;">
                        <div class="col-sm-12" style="font-size: 20px;">{{ countAlumni | number }}</div>
                      </div>
                      <div class="row" style="margin-top: -2px;">
                        <div class="col-sm-12" style="font-size: 9px;">Total</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- <div id="page-content"> -->
        <div style="padding-top: 20px; padding-right: 20px; padding-bottom: 20px; padding-left: 20px;">
          <toaster-container></toaster-container>
          <div ng-view></div>

          <div class="row">
            <div class="col-sm-4">
              <div class="panel" style="height: 330px;">
                <div class="panel-body">
                  <h3 class="title-hero">About us</h3>
                  <div class="row">
                    <div class="scrollable-content scrollable-xs scrollable-slim">
                      <h5>Capacity Development for Regional Cooperation and Integration</h5>
                      <p>Mekong Institute (MI) is an intergovernmental organization (IGO) founded by the six member countries of the Greater Mekong Sub-region (GMS), namely Cambodia, P.R. China (Yunnan Province and Guangxi Zhuang Autonomous Region), Lao PDR, Myanmar, Thailand and Vietnam. We provide, implement and facilitate integrated human resource development (HRD), capacity building programs and development projects related to regional cooperation and integration.</p>
                      <p>Managed by GMS national and international staff and supported by international academics, subject-matter experts and consultants, we work with and through various local government authorities, development partners and local organizations to deliver, implement standardized and customized learning programs, workshops, seminars, policy consultation, and research and development projects.</p>
                      <p>Our goals and strategies support the GMS Cooperation Program and the ASEAN Economic Community (AEC), emphasizing enhanced physical connectivity in the GMS economic corridors and the realization of the GMS/AEC target of a single market and production base, equitable growth, and sustainable resource management. Currently, our programs and activities focus on three main thematic areas: Agricultural Development and Commercialization, Trade and Investment Facilitation, and Innovation and Technological Connectivity.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel" style="height: 200px;">
                <div class="panel-body">
                  <h3 class="title-hero">Contact us</h3>
                  <div class="row">
                    <i class="glyph-icon icon-home"></i>
                    123 Mittraphap Rd., Muang District, Khon Kaen 40002, THAILAND
                  </div>
                  <div class="row" style="margin-top: 10px;">
                    <i class="glyph-icon icon-phone"></i>
                    Tel. : + 66 (0) 4320 2411-2, + 66 (0) 4320 4041-2
                    <br> Fax. : + 66 (0) 4320 3656
                  </div>
                  <div class="row" style="margin-top: 10px;">
                    <i class="glyph-icon icon-envelope-o"></i>
                    <a href="#" title="">information@mekonginstitute.org</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="panel" style="height: 550px;">
                <div class="panel-body">
                  <h3 class="title-hero">Useful posts</h3>
                  <div class="row">
                    <div class="col-sm-4">
                      <a href="assets/image-resources/stock-images/img-10.jpg" class="prettyphoto" rel="prettyPhoto[pp_gal]" title="Blog post title">
                        <img class="img-responsive" src="assets/image-resources/stock-images/img-10.jpg" alt="">
                      </a>
                    </div>
                    <div class="col-sm-8">
                      <a class="post-title" href="blog-single.html" title="">
                        When our power of choice is untrammelled prevents
                      </a>
                      <br>
                      by
                      <a href="#">Hector Tomales</a> on 16.04.2015
                    </div>
                  </div>
                  <div class="row" style="margin-top: 10px;">
                    <div class="col-sm-4">
                      <a href="assets/image-resources/stock-images/img-11.jpg" class="prettyphoto" rel="prettyPhoto[pp_gal]" title="Blog post title">
                        <img class="img-responsive" src="assets/image-resources/stock-images/img-11.jpg" alt="">
                      </a>
                    </div>
                    <div class="col-sm-8">
                      <a href="blog-single.html" title="">
                        And when nothing prevents our being able
                      </a>
                      <br>
                      by
                      <a href="#">Hector Tomales</a> on 16.04.2015
                    </div>
                  </div>
                  <div class="row" style="margin-top: 10px;">
                    <div class="col-sm-4">
                      <a href="assets/image-resources/stock-images/img-12.jpg" class="prettyphoto" rel="prettyPhoto[pp_gal]" title="Blog post title">
                        <img class="img-responsive" src="assets/image-resources/stock-images/img-12.jpg" alt="">
                      </a>
                    </div>
                    <div class="col-sm-8">
                      <a href="blog-single.html" title="">
                        When our power of choice is untrammelled
                      </a>
                      <br>
                      by
                      <a href="#">Hector Tomales</a> on 16.04.2015
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="panel" style="height: 550px;">
                <div class="panel-body">
                  <h3 class="title-hero">linkage</h3>
                  <div class="row">
                        <div class="col-xs-6 text-center">
                          <a href="http://www.worldbank.org/" class="prettyphoto" rel="prettyPhoto[pp_gal]" title="Blog post title">
                            <img src="image-resources\linkage\worldbank.jpg" alt="" style="width: 200px">
                          </a>
                        </div>
                        <div class="col-xs-6 text-center">
                          <a href="https://www.jica.go.jp/english/" class="prettyphoto" rel="prettyPhoto[pp_gal]" title="Blog post title">
                            <img src="image-resources\linkage\jica.jpg" alt="" style="width: 100px">
                          </a>
                        </div>
                  </div>
                  <div class="row">
                        <div class="col-xs-6 text-center">
                          <a href="https://www.adb.org/" class="prettyphoto" rel="prettyPhoto[pp_gal]" title="Blog post title">
                            <img src="image-resources\linkage\adb.jpg" alt="" style="width: 150px">
                          </a>
                        </div>
                        <div class="col-xs-6 text-center">
                          <a href="http://www.koica.go.kr/english/main.html" class="prettyphoto" rel="prettyPhoto[pp_gal]" title="Blog post title">
                            <img src="image-resources\linkage\koica.jpg" alt="" style="width: 150px">
                          </a>
                        </div>
                  </div>
                  <div class="row">
                        <div class="col-xs-6 text-center">
                          <a href="https://en.unesco.org/" class="prettyphoto" rel="prettyPhoto[pp_gal]" title="Blog post title">
                            <img src="image-resources\linkage\unesco.jpg" alt="" style="width: 150px">
                          </a>
                        </div>
                        <div class="col-xs-6 text-center">
                          <a href="https://www.kku.ac.th/?l=en" class="prettyphoto" rel="prettyPhoto[pp_gal]" title="Blog post title">
                            <img src="image-resources\linkage\kku.jpg" alt="" style="width: 100px">
                          </a>
                        </div>
                  </div>
                  <div class="row">
                        <div class="col-xs-6 text-center">
                          <a href="http://www.un.org/en/" class="prettyphoto" rel="prettyPhoto[pp_gal]" title="Blog post title">
                            <img src="image-resources\linkage\un.jpg" alt="" style="width: 150px">
                          </a>
                        </div>
                        <div class="col-xs-6 text-center">
                          <a href="https://www.eda.admin.ch/sdc" class="prettyphoto" rel="prettyPhoto[pp_gal]" title="Blog post title">
                            <img src="image-resources\linkage\eda.jpg" alt="" style="width: 150px">
                          </a>
                        </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="main-footer">

        <div class="footer-pane" style="height: 90%; background: rgba(212,228,239,1);
        background: -moz-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(121,145,176,1) 70%, rgba(121,145,176,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(121,145,176,1) 70%), color-stop(37%, rgba(121,145,176,1)), color-stop(100%, rgba(105,96,104,1)));
        background: -webkit-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(121,145,176,1) 70%, rgba(121,145,176,1) 100%);
        background: -o-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(121,145,176,1) 70%, rgba(121,145,176,1) 100%);
        background: -ms-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(121,145,176,1) 70%, rgba(121,145,176,1) 100%);
        background: linear-gradient(to right, rgba(212,228,239,1) 0%, rgba(121,145,176,1) 70%, rgba(121,145,176,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#256b9e', GradientType=1 );">
          <div class="container clearfix" style="color: #ffffff;">
            <div class="logo">Copyright 2018 MEKONG INSTITUTE. All Rights Reserved.</div>
            <div class="footer-nav-bottom">
              Design by T-tech Solution&Innovation Co.,Ltd
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="assets/angular/app.js"></script>

    <!-- JS Demo -->
    <!-- <script type="text/javascript" src="assets-minified/frontend-all-demo.js"></script> -->
    
    <script type="text/javascript" src="assets-minified/admin-all-demo.js"></script>
    <script type="text/javascript" src="assets/widgets/datatable/datatable.js"></script>
    <script type="text/javascript" src="assets/widgets/datatable/datatable-bootstrap.js"></script>
    <script type="text/javascript" src="assets/widgets/datatable/datatable-tabletools.js"></script>
    <script type="text/javascript" src='assets/angular-datatables/dist/angular-datatables.min.js'></script>
    <script type="text/javascript" src="assets/widgets/chosen/chosen.js"></script>
    <script type="text/javascript" src="assets/angular-chosen/dist/angular-chosen.min.js"></script>
    <script type="text/javascript" src="assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="assets/angular-modal-service/dst/angular-modal-service.min.js"></script>

    <script src="bower_components\ng-youtube-embed\build\ng-youtube-embed.min.js"></script>
    <script src="bower_components/bootbox/bootbox.js"></script>
    <script src="bower_components/ngBootbox/dist/ngBootbox.min.js"></script>
    <script src="bower_components/AngularJS-Toaster/toaster.min.js"></script>

    <!-- shim is needed to support non-HTML5 FormData browsers (IE8-9)-->
    <script src="bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script>
    <script src="bower_components/ng-file-upload-shim/ng-file-upload.min.js"></script>

    <!-- My modules -->
    <script type="text/javascript" src="modules/toasters/js/toasters.service.js"></script>
    <script type="text/javascript" src="modules/base-urls/js/base.urls.js"></script>
    <script type="text/javascript" src="modules/data-tables/js/data.tables.service.js"></script>
    <script type="text/javascript" src="modules/export-excel/js/export.excel.service.js"></script>

    <script type="text/javascript" src="modules/dashboard/js/dashboard.controller.js"></script>
    <script type="text/javascript" src="modules/dashboard/js/dashboard.factory.js"></script>

    <script type="text/javascript" src="modules/images_slide/js/images.slide.factory.js"></script>

    <script type="text/javascript" src="modules/alumni/js/alumni.controller.js"></script>
    <script type="text/javascript" src="modules/alumni/js/alumni.search.controller.js"></script>
    <script type="text/javascript" src="modules/alumni/js/alumni.factory.js"></script>
    <script type="text/javascript" src="modules/alumni/js/alumni.modal.controller.js"></script>
    <script type="text/javascript" src="modules/alumni/js/alumni.profile.controller.js"></script>

    <script type="text/javascript" src="modules/search/js/search.controller.js"></script>
    <script type="text/javascript" src="modules/search/js/search.factory.js"></script>

    <script type="text/javascript" src="modules/programs/js/programs.controller.js"></script>
    <script type="text/javascript" src="modules/programs/js/programs.factory.js"></script>

    <script type="text/javascript" src="modules/country/js/country.controller.js"></script>
    <script type="text/javascript" src="modules/country/js/country.factory.js"></script>

    <script type="text/javascript" src="modules/authen/js/authen.controller.js"></script>
    <script type="text/javascript" src="modules/authen/js/authen.factory.js"></script>
    
    <script type="text/javascript" src="modules/mi_alumni_directory/js/mi.alumni.directory.controller.js"></script>
    <script type="text/javascript" src="modules/mi_alumni_directory/js/mi.alumni.directory.factory.js"></script>

</body>

</html>