<div class="row">
  <div class="col-sm-2">
    <div class="panel-body">
      <a href="#">
        <i class="glyph-icon icon-user"></i>&nbsp;My&nbsp;profile</a>
      <br>
      <a href="#">
        <i class="glyph-icon icon-search"></i>&nbsp;Search&nbsp;alumni</a>
      <br>
      <a href="#">
        <i class="glyph-icon icon-sign-out"></i>&nbsp;Log&nbsp;out</a>
    </div>
  </div>
  <div class="col-sm-10">
    <form class="form-horizontal bordered-row">
      <div class="panel">
        <div class="panel-body">
          <h3 class="title-hero">
            Search&nbsp;Alumni
          </h3>

          <div class="form-group">
            <div class="col-sm-1"></div>
            <div class="col-sm-1">Directory</div>
          </div>

          <div class="form-group">
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2">Filter</div>
          </div>

          <div class="form-group">
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2">Year&nbsp;of&nbsp;Study</div>
            <div class="col-sm-8">
              <div class="col-sm-1">
                From&nbsp;:
              </div>
              <div class="col-sm-3">
                <select class="form-control">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <div class="col-sm-1">
                To&nbsp;:
              </div>
              <div class="col-sm-3">
                <select class="form-control">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2">MI&nbsp;Program</div>
            <div class="col-sm-8">
              <div class="col-sm-9">
                <input type="text" class="form-control" id="" placeholder="Example...">
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2">MI&nbsp;Department</div>
            <div class="col-sm-8">
              <div class="col-sm-9">
                <input type="text" class="form-control" id="" placeholder="Example...">
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2">Alumni&nbsp;Organization&nbsp;Type</div>
            <div class="col-sm-8">
              <div class="col-sm-9">
                <select class="form-control">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2">Alumni&nbsp;Organization&nbsp;Name</div>
            <div class="col-sm-8">
              <div class="col-sm-9">
                <input type="text" class="form-control" id="" placeholder="Example...">
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2">Alumni&nbsp;Nationality&nbsp;Name</div>
            <div class="col-sm-8">
              <div class="col-sm-9">
                <select class="form-control">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2">Alumni&nbsp;Area&nbsp;of&nbsp;Expertise</div>
            <div class="col-sm-8">
              <div class="col-sm-9">
                <input type="text" class="form-control" id="" placeholder="Example...">
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2">Name</div>
            <div class="col-sm-8">
              <div class="col-sm-9">
                <input type="text" class="form-control" id="" placeholder="Example...">
              </div>
            </div>
          </div>

          <div class="form-group" style="height: 10px"></div>

          <div class="form-group">
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2">Group&nbsp;By&nbsp;:</div>
          </div>

          <div class="form-group">
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
              <label style="font-weight: normal">
                <input type="checkbox" required name="terms">Year
              </label>
            </div>
            <div class="col-sm-2">
              <label style="font-weight: normal">
                <input type="checkbox" required name="terms">Organization
              </label>
            </div>
            <div class="col-sm-2">
              <label style="font-weight: normal">
                <input type="checkbox" required name="terms">City
              </label>
            </div>
            <div class="col-sm-2">
              <label style="font-weight: normal">
                <input type="checkbox" required name="terms">Program
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
              <label style="font-weight: normal">
                <input type="checkbox" required name="terms">Nationality
              </label>
            </div>
            <div class="col-sm-2">
              <label style="font-weight: normal">
                <input type="checkbox" required name="terms">Gender
              </label>
            </div>
            <div class="col-sm-2">
              <label style="font-weight: normal">
                <input type="checkbox" required name="terms">Department
              </label>
            </div>
            <div class="col-sm-2">
              <label style="font-weight: normal">
                <input type="checkbox" required name="terms">Area&nbsp;of&nbsp;Expertise
              </label>
            </div>
          </div>

          <div class="form-group" style="height: 10px"></div>

          <div class="form-group">
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2">Fields&nbsp;to&nbsp;be&nbsp;displayed&nbsp;:</div>
          </div>

          <div class="form-group">
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
              <label style="font-weight: normal">
                <input type="checkbox" required name="terms">Name
              </label>
            </div>
            <div class="col-sm-2">
              <label style="font-weight: normal">
                <input type="checkbox" required name="terms">Year
              </label>
            </div>
            <div class="col-sm-2">
              <label style="font-weight: normal">
                <input type="checkbox" required name="terms">Organization
              </label>
            </div>
            <div class="col-sm-2">
              <label style="font-weight: normal">
                <input type="checkbox" required name="terms">City
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
              <label style="font-weight: normal">
                <input type="checkbox" required name="terms">Code
              </label>
            </div>
            <div class="col-sm-2">
              <label style="font-weight: normal">
                <input type="checkbox" required name="terms">Program
              </label>
            </div>
            <div class="col-sm-2">
              <label style="font-weight: normal">
                <input type="checkbox" required name="terms">Nationality
              </label>
            </div>
            <div class="col-sm-2">
              <label style="font-weight: normal">
                <input type="checkbox" required name="terms">Gender
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
              <label style="font-weight: normal">
                <input type="checkbox" required name="terms">Email
              </label>
            </div>
            <div class="col-sm-2">
              <label style="font-weight: normal">
                <input type="checkbox" required name="terms">Department
              </label>
            </div>
            <div class="col-sm-2">
              <label style="font-weight: normal">
                <input type="checkbox" required name="terms">Area&nbsp;of&nbsp;Expertise
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-1"></div>
            <button type="submit" class="btn btn-info">Submit</button>
          </div>

        </div>
      </div>
    </form>
  </div>
</div>