<div class="modal fade">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Country</h4>
      </div>
      <div class="modal-body">
        <form name="myform" class="form-horizontal" ng-submit="submit();">
          <div class="form-group">
            <label class="col-sm-2 control-label">Image</label>
            <div class="col-sm-4">
              <img ngf-thumbnail="params.image || 'image-resources/default.png'" style="width: 100px; height: 100px;">
              <br>
              <div class="btn btn-primary" ngf-select ng-model="params.image" name="image" ngf-pattern="'image/*'" ngf-accept="'image/*'"
                ngf-max-size="20MB" ngf-min-height="100" ngf-resize="{width: 100, height: 100}">
                <i class="glyph-icon icon-image"></i>&nbsp;Select
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Name</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" ng-model="params.txt_name" placeholder="Name...">
            </div>

            <div class="col-sm-1">
              <input type="hidden" class="form-control" ng-model="params.txt_id">
              <input type="hidden" class="form-control" ng-model="params.old_image">
              <button type="submit" class="btn btn-success"><i class="glyph-icon icon-save"></i>&nbsp;Save</button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" ng-click="close(false)" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" ng-click="close(true)" class="btn btn-primary" data-dismiss="modal">Yes</button> -->
      </div>
    </div>
  </div>
</div>