<div class="panel-body">
  <a href="#/alumni" class="btn text-left" style="width: 100%">
    <i class="glyph-icon icon-user"></i>&nbsp;&nbsp;My&nbsp;profile
  </a>
  <div class="row" style="height: 10px"></div>
  <a href="#/alumni_form" class="btn text-left" style="width: 100%">
    <i class="glyph-icon icon-edit"></i>&nbsp;Update&nbsp;profile
  </a>
  <div class="row" style="height: 10px"></div>
  <a href="#/alumni_password" class="btn text-left" style="width: 100%">
    <i class="glyph-icon icon-unlock-alt"></i>&nbsp;&nbsp;Password
  </a>
  <div class="row" style="height: 10px"></div>
  <a href="#/search" class="btn text-left" style="width: 100%">
    <i class="glyph-icon icon-search"></i>&nbsp;Search&nbsp;alumni
  </a>
  <div class="row" style="height: 10px"></div>
  <a href="#" class="btn text-left" style="width: 100%">
    <i class="glyph-icon icon-power-off"></i>&nbsp;Log&nbsp;out
  </a>
</div>
