<div class="col-sm-2" ng-include="'./modules/dashboard/views/left_menu.html'"></div>
<form name="myform" class="form-horizontal" ng-submit="changePassword();" ng-controller="alumniProfileController">
  <!-- <div class="col-sm-2" ng-include="'./modules/dashboard/views/left_menu.html'"></div> -->
  <div class="col-sm-10">
    <div class="panel">
      <div class="panel-body">
        <h3 class="title-hero">
          information
        </h3>
        <div class="example-box-wrapper">
          <div class="form-group">
            <label class="col-sm-2 control-label">New Password</label>
            <div class="col-sm-4">
              <input type="password" class="form-control" ng-model="params.txt_new_pwd" placeholder="New Password">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Confirm Password</label>
            <div class="col-sm-4">
              <input type="password" class="form-control" ng-model="params.txt_confirm_pwd" placeholder="Confirm Password">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-12 text-right">
        <!-- <input type="text" ng-model="params.txt_id"> ng-disabled="params.txt_new_pwd != params.txt_confirm_pwd" -->
        <a href="#/alumni" class="btn btn-warning">
          <i class="glyph-icon icon-arrow-left"></i>&nbsp;Back</a>
        <button type="submit" ng-disabled="params.txt_new_pwd != params.txt_confirm_pwd" class="btn btn-success">
          <i class="glyph-icon icon-save"></i>&nbsp;Save</button>
      </div>
    </div>
    <br>
  </div>
</form>