<style>
  .dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
  }

  .input-group-btn .btn-group {
    display: flex !important;
  }

  .dropdown.dropdown-lg .dropdown-menu {
    min-width: 500px;
  }
</style>

<div ng-controller="alumniSearchController">
  <div class="col-sm-2" ng-include="'./modules/dashboard/views/left_menu.html'"></div>
  <div class="col-sm-10">
    <div class="panel">
      <div class="panel-body">
        <h3 class="title-hero">
          Search&nbsp;Alumni
        </h3>

        <div class="row">
          <div class="col-md-3">&nbsp;</div>
          <div class="col-md-6">
            <div class="input-group" id="adv-search">
              <input type="text" class="form-control" ng-model="params.txt_code" placeholder="Code" />
              <div class="input-group-btn">
                <div class="btn-group" role="group">
                  <div class="dropdown dropdown-lg">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu" style="right: 0; left: auto;">
                      <form name="myform" class="form-horizontal" ng-submit="searchAlumni();">
                        <div class="form-group">
                          <label class="col-sm-2 control-label">Year&nbsp;of&nbsp;Study</label>
                          <div class="col-sm-10">
                            <div class="col-sm-3 text-right">
                              <label class="control-label">From&nbsp;:</label>
                            </div>
                            <div class="col-sm-4">
                              <input type="number" class="form-control" ng-model="txt_date_start">
                            </div>

                            <div class="col-sm-1 text-right">
                              <label class="control-label">To&nbsp;:</label>
                            </div>

                            <div class="col-sm-4">
                              <input type="number" class="form-control" ng-model="txt_date_start">
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-sm-2 control-label">MI&nbsp;Program</label>
                          <div class="col-sm-10">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9" ng-init="getAllPrograms()">
                              <!-- <input type="text" class="form-control" ng-model="params.mi_program" placeholder="MI&nbsp;Program&nbsp;..."> -->
                              <select chosen ng-options="value.code for value in programs" ng-model="params.ddl_program">
                                <option value="">-- Select programs --</option>
                              </select>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-sm-2 control-label">MI&nbsp;Department</label>
                          <div class="col-sm-10">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" ng-model="params.mi_department" placeholder="MI&nbsp;Department&nbsp;...">
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-sm-2 control-label">Alumni&nbsp;Organization&nbsp;Type</label>
                          <div class="col-sm-10">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                              <select chosen ng-options="value.code for value in organizes" ng-model="params.ddl_organize_type">
                                <option value="">-- Select Organization Type --</option>
                              </select>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-sm-2 control-label">Alumni&nbsp;Organization&nbsp;Name</label>
                          <div class="col-sm-10">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" ng-model="params.alumni_organization_name" placeholder="Alumni&nbsp;Organization&nbsp;Name&nbsp;...">
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-sm-2 control-label">Alumni&nbsp;Nationality&nbsp;Name</label>
                          <div class="col-sm-10">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                              <select class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                              </select>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-sm-2 control-label">Alumni&nbsp;Area&nbsp;of&nbsp;Expertise</label>
                          <div class="col-sm-10">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" ng-model="params.alumni_area_of_expertise" placeholder="Alumni&nbsp;Area&nbsp;of&nbsp;Expertise&nbsp;...">
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-sm-2 control-label">Name</label>
                          <div class="col-sm-10">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" ng-model="params.txt_name" placeholder="Name">
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12 text-right">
                            <button type="submit" class="btn btn-success">
                              <i class="glyph-icon icon-search"></i>&nbsp;Search</button>
                          </div>
                        </div>
                      </form>
                    </div>

                  </div>
                  <button type="button" class="btn btn-primary" ng-click="searchAlumni();">
                    <span class="glyph-icon icon-search" aria-hidden="true"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">&nbsp;</div>
        </div>

      </div>
    </div>

    <div class="panel">
      <div class="panel-body">
        <h3 class="title-hero">
          Alumni
        </h3>
        <div class="example-box-wrapper">
          <table cellpadding="0" cellspacing="0" border="0" datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered"
            ng-init="getAlumni()">
            <thead>
              <tr>
                <th>#</th>
                <th>Code</th>
                <th>Picture</th>
                <th>Name</th>
                <th>Email</th>
                <!-- <th>Nationality</th> -->
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr class="odd gradeX" ng-repeat="value in alumni">
                <td class="text-center">{{ $index+1 }}</td>
                <td>{{ value.code }}</td>
                <td class="text-center" style="width: 120px; text-align:right!important">
                  <!-- <img ng-src="{{ value.fileName_url }}" width="70px" style="position: absolute;border-radius: 50%;z-index: 1;">
                <img ng-src="{{ value.flagImage_url }}" width="20px" style="position: absolute;top: 80px;left: 0px;z-index: 3;"> -->
                  <div style="width: 100px; height: 100px; position: relative;">
                    <img ng-src="{{ value.fileName_url }}" width="70px" style="position: absolute; top: 0; left: 0px; z-index: 1; border-radius: 50%;">
                    <img ng-src="{{ value.flagImage_url }}" width="20px" style="position: absolute; top: 80px; left: 50px; z-index: 2;">
                  </div>
                </td>
                <td>
                  <a href="#/alumni/{{ value.personId }}">{{ value.name }}</a>
                </td>
                <td>{{ value.email }}</td>
                <!-- <td class="text-center">
                <img ng-src="{{ value.flagImage_url }}" width="70px"><br>
                {{ value.caption }}
              </td> -->
                <td class="text-center">
                  <a href="#/alumni/{{ value.personId }}" class="btn btn-primary">
                    <i class="glyph-icon icon-ellipsis-v"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>