<style>
  .circle {
    /* ชื่อคลาสต้องตรงกับ <img class="circle"... */
    width: 75px;
    height: 85px;
    border: 1px solid rgb(176, 182, 182);
    /* เส้นขอบขนาด 3px solid: เส้น #fff:โค้ดสีขาว */
    border-radius: 50%;
    /*ปรับเป็น 50% คือความโค้งของเส้นขอบ */
    box-shadow: 1 2 5px rgba(0, 0, 0, 0.2);
    /* เงาของรูป */
  }
</style>

<div class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Profile</h4>
      </div>
      <div class="modal-body">
        Hello
      </div>
    </div>
  </div>
</div>